
  <body>
    <div class="container">

      <nav class="navbar navbar-default">
        <div class="container-fluid">

          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#gnavi">
              <span class="sr-only">TwitterClone</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to "TwitterClone", user_path(current_user.id), class: "navbar-brand" %>
          </div>

          <div id="gnavi" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="/mutters/new">新規投稿</a></li>
              <li><a href="/mutters">つぶやき一覧</a></li>
              <li><a href="/contacts/new">問い合わせ</a></li>
            </ul>
          </div>

        </div>
      </nav>

      <div class="content">

        <!---
        <div class="notice">
          <p><%= notice %></p>
        </div>
        --->

        <div class="page_title">
          <h2>つぶやき一覧</h2>
        </div>

        <div class="main_content row">
          <table>
            <% @mutters.each do |mutter| %>
              <tr class="tweet_content_top">
                <td><%= link_to "詳細", mutter_path(mutter.id) =%></td>
              </tr>
              <tr class="tweet_content">
                <td><%= mutter.content %></td>
              </tr>
              <% if mutter.user_id == @user_id %>
                <tr class="content_buttom">
                  <td>
                    <%= link_to "編集する", edit_mutter_path(mutter.id) ,class: "btn btn-default col-md-6 col-xs-12" %>
                    <%= link_to '削除する', mutter_path(mutter.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } ,class: "btn btn-default col-md-6 col-xs-12" %>
                  </td>
                </tr>
              <% else %>
                <tr></tr>
              <% end %>

            <% end %>
          </table>
        </div>

        <div class="content-center page_btn">
          <div class="btn-group">
            <%= link_to '新しくつぶやきを投稿する', new_mutter_path ,class: "btn btn-default" %>
          </div>
        </div>
        <!---
        <div class="page_btn">
          <%= link_to '新しくつぶやきを投稿する', new_mutter_path ,class: "btn" %>
        </div>
        --->

      </div> <!--End of content-->

      <footer class="footer">
        <p>Hideki Fujimoto test application</p>
      </footer>
    </div>
  </body>
